@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
    --bg-main: #d97706;
    --text-color: black;
    --bg-secondary: #fffbeb;
    --bg-hover: #fde68a;
    --font-size-xl: 4rem;
    --font-size-big: 2.2rem;
    --font-size-medium: 1.8rem;
    --primary-light: whitesmoke;
}

html {
    font-size: 62.5%;
}

body {
    padding: 0;
    margin: 0;
    font-size: var(--font-size-medium);
    font-family: 'Poppins', 'Helvetica Neue', sans-serif;
}

.header {
    padding: 2rem;
    background-color: var(--bg-main);
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.header p {
    margin: 0;
}

.header-text {
    font-size: var(--font-size-xl);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: 500;
}

.logo img {
    width: 3.5rem;
}

.nav {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-hover);
    width: 300px;
    min-width: 250px;
    padding: 3rem;
}

.default-projects {
    display: flex;
    flex-direction: column;
}

.nav button {
    background: none;
    border: none;
    font-weight: 500;
    font-size: var(--font-size-medium);
    padding: 1rem;
    text-align: start;
}

.nav button:hover {
    background: none;
    border: none;
    background: var(--bg-secondary);
    border-radius: 7px;
}

.nav button.active {
    font-weight: 600;
}

.button-text {
    padding: 0;
    margin: 0;
}

.projects {
    font-size: var(--font-size-big);
    font-weight: 700;
}

.project-prompt {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.project-button {
    display: flex;
    justify-content: space-between
}

.project-prompt input {
    font-size: var(--font-size-medium);
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #eee;
}

.project-prompt button {
    font-size: var(--font-size-medium);
    border-radius: 7px;
    padding: 0.6rem;
}

.footer {
    background-color: var(--bg-main);
    padding: 1rem;
    text-align: center;
}

a {
    text-decoration: none;
    color:black;
}

.user-projects {
    display: flex;
    flex-direction: column;
}

.todo-section {
    width: 90vw;
    padding: 2rem 4rem;
}

.main {
    display: flex;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    border: none;
    border-radius: 9px;
    align-items: center;
    margin-bottom: 10px;
    font-size: var(--font-size-medium);
}

.input-date,.input-task-name {
    display: none;
}

.input-date.active{
    display: block;
}

.input-task-name.active {
    display: block;
}

.left-task-panel,.right-task-panel {
    display: flex;
    align-items: center;
    gap: 10px;
}

button {
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button, input {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    outline: none;
}